<div class="informationInput">

</div>

<h1>Calendar</h1>
<ul class="year-list">
    @for (items of yearsList; track items){
        <li><button type="button" (click)="selectYear(items)">{{ items }}</button></li>
    }


</ul>

<ul class="month-list">
    @for (items of monthList; track items){
        <li><button type="button" (click)="selectMonth(items)">{{getMonthName(items)}}</button></li>
    }
</ul>
<h2>{{selectedYear}}</h2>
<h3>{{selectedMonth}}</h3>
<div class="calendar">
    <table>
        <thead>

            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            @for(weeks of getWeekDateArray(); track $index; let weekIndex = $index){
                <tr>
                @for(days of weeks; track $index){
                    <td class="table-cell" 
                    [class.weekend]="$index === 0 || $index === 6"
                    [class.prev-follow-month]="(weekIndex < 1 && days > 10) || (weekIndex > 2 && days < 10)"
                    >
                        <span>{{days}}</span>
                        @if(getMonthName(currentDate.getMonth()) == selectedDate.toLocaleString('default', {month: 'long'}) && days === selectedDate.getDate() && currentDate.getFullYear() === selectedYear){
                            <ul>
                                <li style="font-size: 2em;">Today!</li>
                            </ul>
                        }
                    </td>
                }
                </tr>
            }
            
        </tbody>
    </table>


</div>