.menu-nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    button{
        background-color: red;
        padding: 8px;
        font-size: 2em;
    }
}

.menu-component{
    display: grid;
    grid-template-columns: auto 1fr;
    min-width: 100%;
    min-height: 100vh;
    align-items: start;
}

table, th, td{
    border: solid 2px;
    border-collapse: collapse;
    margin-right: 16px;
}

.pizza-table{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 50vw;

    th{
        background-color: red;
    }
    td{
        height: 60px;
        overflow: hidden;
    }
}

tr td:first-of-type{
    background-color: red;
    font-size: 1em;
}

h1{
    justify-self: center;
    font-size: 3em;
}

.dinners{
    border: solid 2px;
}

.salads{
    border: solid 2px;
    align-self: start;
}