ul{
    padding: 0;
    margin: 0;
}

.portal-header{
    display: grid;
    .imageList {

        grid-area: 1/1;

        min-height: 100px;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        list-style-type: none;
        
        z-index: 0;
    }
    //placeholder styling for the image list, to be removed when actual images are inserted

    //To be removed when an actual image is inserted
    .imageList li:nth-child(1){
        background-color: grey;
    }
    .imageList li:nth-child(2){
        background-color: red;
    }
    .imageList li:nth-child(3){
        background-color: blue;
    }
    .imageList li:nth-child(4){
        background-color: green;
    }
    //End of placeholder code

    h1{
        position: relative;
        grid-area: 1/1;

        align-self: center;
        justify-self: center;
        text-align: center;
        
        font-size: clamp(1rem, 5vw, 3rem);
        
        margin: 0;
        z-index: 1;
    }
}

h2{
    justify-self: center;
    text-align: center;
    background-color: grey;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mainContent{
    li{
        place-self: center;
        display: grid;
        grid-template-columns: auto auto;
        list-style: none;
        position: relative;

        width: 85%;
        box-shadow: 6px 6px 6px;
        border-radius: 10px;
        height: 100px;
        outline: 2px solid;
        
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;

        img{
            height: 100%;
            width: 80px;
        }

        a{
            place-self: center;
        }
    }
}